<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }}</title>
</head>
<body>
    {{ content_for_header }}
    <main>{{ content_for_layout }}</main>
    {{ content_for_footer }}
</body>
</html>